<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="python.exe"
                      arguments="-m uvicorn app.main:app --port %HTTP_PLATFORM_PORT% --host 0.0.0.0"
                      stdoutLogEnabled="true"
                      stdoutLogFile=".\logs\stdout.log"
                      startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="c:\aaProyectos\Entorno01" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
